.m-button-overlined {
  background-color: rgb(253, 245, 242);
  border: 1px solid var(--colorPrimary);
  height: 36px;
  padding: 0 12px;
  margin: auto 0;
  vertical-align: text-top;
  text-align: center;
  color: var(--colorPrimary);
  line-height: var(--lineHeightSmall);
}