<section>
  <p style="font-size: var(--fontSizeXXXL)">
    Extra Extra Extra Large</p>
  <p style="font-size: var(--fontSizeXXL)">
    Extra Extra Large</p>
  <p style="font-size: var(--fontSizeXL)">
    Extra Large</p>
  <p style="font-size: var(--fontSizeL)">
    Large</p>
  <p style="font-size: var(--fontSizeM)">
    Medium</p>
  <p style="font-size: var(--fontSizeS)">
    Small</p>
  <p style="font-size: var(--fontSizeXS)">
    Extra Small</p>
</section>

<style>
  p {
    margin-bottom: 1em;
  }

</style>
