<main>
  <section>
    <p style="font-family: var(--fontFamilyBold)">Main : Inter bold</p>
    <p style="font-family: var(--fontFamilyMedium)">Main : Inter medium</p>
    <p style="font-family: var(--fontFamilyRegular)">Main : Inter regular</p>
  </section>
</main>

<style>
  main {
    display: flex;
    justify-content: space-between;
  }
  p {
    margin-bottom: 1em;
  }
</style>
