<div class="m-pub">
  {{> @image--logo }}
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Voluptas nam nesciunt earum ducimus amet dolore consectetur commodi ex deleniti maxime quisquam ab.
  </p>
  <h4>lorem ipsum</h4>
  <h5>lorem ipsum 2</h5>
</div>