.m-block {
  img {
    display: block;
    margin: 0 auto;
  }
  h1, h2 {
    text-align: center;
  }
  h1 {
    font-family: var(--fontFamilyBold);
    font-size: var(--fontSizeXL);
    line-height: var(--lineHeightMain);
  }
  h2 {
    font-family: var(--fontFamilyRegular);
    font-size: var(--fontSizeM);
    color: var(--colorTextSecondary);
    line-height: var(--lineHeightLarge);
  }
}